.container {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

.handler {
    width: 2px;
    cursor: ew-resize;
}

.mdxEditor {
    flex: 1 1 auto;
    min-width: 300px;
    word-break: break-all;
    white-space: pre-wrap;
    resize: none;
    padding: 20px;
    background-color: #2b3137;    
    font-size: 16px;
    color: white;
}
